.shiny-text {
  /* Adjust color or remove it if you want to inherit from the parent button */
  color: rgba(255, 255, 255, 0.2); /* Example color */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.6) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 1) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite; /* default 5s if not overridden by speed prop */
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
